.message-area > .mask-area {
    position: fixed;
    bottom: 0;
    left: 440px;
    width: calc(100% - 446px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--maskedArea);
    transition: background-color 0.5s;
}
.mask-area > .send-area {
    width: min(calc(100% - 30px), 800px);
    height: 50px;
    margin: 15px 0;
    background-color: var(--background);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--boxShadow);
}
.send-area i {
    font-size: 1.2rem;
    padding: 0 15px;
    color: var(--color3);
    cursor: pointer;
}
.send-area > .fa-paperclip {
    padding-right: 5px;
}
.send-area > .fa-paper-plane {
    border-left: 2px solid var(--border);
    color: var(--iconActive);
}
.send-area > .textBox{
    width: 100%;
    line-height: 41px;
    background-color: transparent;
    color: var(--color2);
    border: none;
    outline: none;
    font-size: 1rem;
}

@media only screen and (max-width:1500px) {
    .message-area > .chat-area {
        padding: 20px 20px 100px 20px;
    }
}
@media only screen and (max-width:1000px) {
    .message-area > .mask-area {
        left: 360px;
        width: calc(100% - 366px);
    }
}
@media only screen and (max-width:780px) {
    .message-area > .mask-area {
        left: 300px;
        width: calc(100% - 306px);
    }
}
@media only screen and (max-width:600px) {
    .message-area > .mask-area {
        left: 0;
        width: 100%;
        display: none;
    }
}