.contact-panel {
    position: fixed;
    top: 0;
    left: 60px;
    width: 380px;
    height: 100vh;
    border-right: 1px solid var(--border);
    padding: 25px 0;
    background-color: var(--background);
    transition: background-color 0.5s;
    overflow-x: visible;
}
.contact-panel > .textbox{
    height: 40px;
    margin: 0 25px;
    margin-bottom: 5px;
    background-color: var(--textBox);
    border-radius: 10px;
}
.contact-panel > .textbox > i{
    line-height: 40px;
    margin: 0 12px 0 15px;
    font-size: 1rem;
    float: left;
    color: var(--textBoxColor);
}
.contact-panel > .textbox > .SearchBox{
    width: calc(100% - 50px);
    line-height: 41px;
    background-color: transparent;
    color: var(--color1);
    border: none;
    outline: none;
    float: left;
    font-size: 1rem;
}
.contact-panel > .textbox > .SearchBox::-moz-selection { /* Code for Firefox */
    color: var(--color1);
    background: var(--contactScrollHover);
}
.contact-panel > .textbox > .SearchBox::selection {
    color: var(--color1);
    background: var(--contactScrollHover);
}
.contact-panel > .textbox > .SearchBox:focus{
    outline: none;
}
.contact-panel > .textbox > .SearchBox::placeholder {
    color: var(--textBoxColor);
}
.contact-list > div > p {
    margin: 20px 20px 10px 20px;
    color: var(--textBoxColor);
    font-size: 0.9rem;
}
.contact-list {
    width: 100%;
    height: calc(100% - 10px);
    overflow-y: auto;
}
.contact-list::-webkit-scrollbar {
    width: 6px;
}
.contact-list::-webkit-scrollbar-track {
    background: transparent;
}
.contact-list::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom,
        transparent 3%,
        var(--contactScroll) 3%,
        var(--contactScroll) 100%
    );
}
.contact-list::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom,
        transparent 3%,
        var(--contactScrollHover) 3%,
        var(--contactScrollHover) 100%
    );
}
.contact {
    display: flex;
    align-items: center;
    padding: 8px 13px 8px 16px;
    margin: 5px 6px;
    border-radius: 10px;
    cursor: pointer;
    border-width: 2px;
    border-color: var(--background);
    border-style: none solid none solid;
    transition: border-color 0.5s;
}
.all {
    margin-bottom: 50px;
}
.contact:hover {
    border-left-color: var(--contactScroll);
    border-right-color: var(--contactScroll);
    background-color: var(--contactScroll);
}
.contact-selected {
    border-left-color: var(--iconActive) !important;
    border-right-color: var(--contactScroll);
    background-color: var(--contactScroll);
}
.contact > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contact > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact > .section-one {
    width: 200px;
}
.contact > .section-two {
    width: 80px;
}
.contact > .section-one > p {
    margin: -2px 0;
    padding-left: 10px;
    height: 50%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.contact > .section-two > p {
    width: 100%;
    text-align: right;
}
.section-one > .m-name {
    font-weight: 400;
    color: var(--color2);
}
.section-one > .m-message {
    color: var(--color3);
    font-size: 0.9rem;
}
.section-two > .m-time {
    color: var(--color3);
    font-size: 0.9rem;
}
.section-two > .m-status {
    color: var(--color3);
}

@media only screen and (max-width:1000px) {
    .contact-panel {
        width: 300px;
        padding: 15px 0;
    }
    .contact-panel > .textbox{
        margin: 0 10px;
        margin-bottom: 10px;
    }
    .contact {
        padding: 5px 8px 5px 10px;
        margin: 2px 4px;
        border-width: 2px;
    }
    .contact > img {
        width: 45px;
        height: 45px;
    }
    .contact > .section-one {
        width: 150px;
    }
    .contact > .section-two {
        width: 70px;
    }
    .contact > .section-one > p {
        padding-left: 8px;
    }
    .section-two > .m-status {
        height: 20px;
    }
}
@media only screen and (max-width:780px) {
    .contact-panel {
        left: 0;
    }
}
@media only screen and (max-width:600px) {
    .contact-list::-webkit-scrollbar {
        display: none;
    }
    .contact-panel {
        width: 100%;
        padding: 10px 0;
    }
    .contact {
        padding: 8px 10px;
        margin: 5px 5px;
        border: none;
        border-width: 3px;
    }
    .contact-selected {
        border: none;
        background-color: var(--background);
    }
    .contact > img {
        width: 60px;
        height: 60px;
    }
    .contact > .section-one {
        width: calc(100%);
    }
    .contact > .section-two {
        width: 130px;
    }
    .contact > .section-one > p {
        padding-left: 8px;
    }
    .section-two > .m-status {
        height: 20px;
    }
}